services:
  comms:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comms
    ports:
      - "4000:4000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    environment:
      - SECRET_KEY_BASE=
      - PHX_HOST=worktime.yourdomain.com
      - DNS_CLUSTER_QUERY= #can stay empty
      - JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAkNpIIAUl+ZWF4s4LEKGy\nWQq0jCNlUHopCojBcQzebphxEVgTgOlqdxQblV3ttTjTHSf2CZdPEBRfnYz97hiZ\nEmsWvdL7rzuvztzFgqXJMcswbSWu+h2ZuAyu23ZCNZPi7/cqPtyCcocyaA14mbo8\nGBpUMevmVYu928yQx20D3lfKNko+9MDz8uDm/Bplk4La8tYwhPg5IWl7Bpj7I6KI\nWb3h7V3WURXp4JjTWgHn3eD1pRZAThxkFdj0+rzK3h4sDa2EqXLK30UNgoQSuyG3\nsvV4TkDaNjwDF0+ltLZAYRLqdYxzPaZu3XMkL4j60T32tExLYnkhBjlQARj/18Gj\n2kP2FalyjnVDW5MpIgjNPd5m3TlfLqcygV29Ef0CGygSIohl6WRTCLGdupDn8UnK\n9IjpUOyIw75dPqrdfRY1nFOnM6qfKd80f0LFZMAwh/K+lyvdo+/NnfxcBwgOSYwV\nmzX7R1bMSXqm7d57M0kR1ORdjWc2zf+BDDc8DuNKmCA/EfZ8HSjAwLgRyfTNHYHF\nDiui8JxbbRUgBrlnLr63HSjZBg71OErCAhSHRAQjhUeCZc+jSjEv1fReY9Y31tYV\nHLy8H0tu98ktvMoz3ZjSFmZRaNCXPiOXxp7KkynjNSwnbt/dbRNAz1leQZpERD2e\nlQZShIw3hQZNlT9gW0J4FjkCAwEAAQ==\n-----END PUBLIC KEY-----\n
      - SMTP_SERVER=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USERNAME=
      - SMTP_PASSWORD=
      - SMTP_SSL=false
      - SMTP_TLS_VERIFY=false
      - CORE_SERVICE_HTTP=http://core-app:3000
      - CORE_SERVICE_GRPC=core-app:50051
      - DISCORD_APP_ID=
      - DISCORD_PUBLIC_KEY=
      - DISCORD_BOT_TOKEN=
    # env_file:
    # - .env
